.container {
  background-color : #d8ccb5;
  width : 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media(min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.section h1 {
  font-size: 40px;
  font-weight: 100;
  position: relative;
}


.info {
  width: 100%;
  font-size: 24px;
}

@media(min-width: 1024px) {
  .info {
    height: 300px;
    top: 30%;
    position: sticky;
    width: 45%;
  }
}


.but {
  display: flex;
  padding: 1.1rem 2.5rem 1.1rem 3.5rem;
  border-radius: 99rem;
  background-color: #f5a091;
  transition: all 0.5s ease;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: none;
  font-size: 18px;
}

.icon {
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.film {
  background: black;
  border-radius: 100%;
  padding: 0rem;

  width: 0rem;
  height: 0rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transform: rotate(-180deg);

  transition: all 0.5s ease;
}

.but:hover .film {
  transform: rotate(0deg);

  border-radius: 100%;
  padding: 0.6rem;
  width: 0.9rem;
  height: 0.9rem;
}

.card_des {
  display: block;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}

.cards {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px 0;
}

@media(min-width:1024px) {
  .cards {
    width: 45%;

  }
}

.card{
  position: sticky;
  top: 20%;
  right: 400px;
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: 12px;
  border: 2px solid #fff;
}

@media(min-width: 1024px) {
  .card {
    width: 400px;
    top: 30%;
  }
}

.card span{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8c989;
  font-size: 40px;
  color: #fff;
  text-align: center;
}